.ant-card-actions {
  background: #fafafa !important;
}

.card-head-image {
  background-color: #f5f5f5 !important;
  height: 200px;
}

h3 {
  margin: 0px 0px 5px 0px;
}
.base-card-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 27px;
  color: rgba(0, 0, 0, 0.65);
}

.base-card-meta span {
  font-size: 18px;
}
.base-card-meta p {
  margin-left: 10px;
}
